<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-2" href="#">Bus Booking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"  style="margin-left: auto;">
          <a class="nav-link active" aria-current="page" routerLink="/adminhome">Home</a>
          <a class="nav-link" href="#">Schedule</a>
          <a class="nav-link" href="#">Booked List</a>
          <a class="nav-link" href="#">Bus List</a>
          <a class="nav-link" href="#">Location List</a>
          <a class="nav-link" href="#">Logout</a>
        </div>
      </div>
    </div>
  </nav>